/* html rules
------------------------------- */
body {
  margin: 0;
  background-color: rgb(248, 248, 248);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 2.7rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

nav {
  background-color: #fff;
  padding: 30px 0px;
  border-bottom: 1px solid #ddd;
}
main {
  /* padding: 0px 50px 10px 50px; */
}

nav a img {
  width: 220px;
  float: left;
  margin-top: -20px;
  padding: 0px 75px 0px 50px;
}

nav li {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  display: inline;

  text-transform: uppercase;
  font-weight: 700;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  height: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  padding: 30px 10px;
  font-weight: bold;
}

a:link {
  color: #333;
}

a:visited {
  color: #555555;
}

nav li a:hover {
  color: #fff;
  background-color: #42817a;
}
a:hover {
  background-color: #ddd;
}

section {
  padding: 20px 0px 20px 50px;

  /* background-color: blue; */
}

footer {
  padding: 20px 0px 20px 50px;
  min-height: 100px;
}

footer ul {
  margin-top: 35px;
}

footer li {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  display: inline;

  text-transform: uppercase;
  font-weight: 700;
}

footer li a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  height: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  padding: 10px 10px;
  font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
  border: 1px solid grey;
  height: 21px;
}

input:hover {
  border: 1px solid tomato;
}

input:focus {
  border: 1px solid tomato;
}

/* class rules
------------------------------- */
.copy {
  padding: 30px;
  color: #333;
}

.hero {
  height: 250px;
  text-align: left;
  font-weight: bold;
  line-height: 30px;

  background: url('../images/bg.png') no-repeat center center;
  background-position: -0px -200px;
  background-repeat: no-repeat;

  position: relative;
  background-size: cover;
}

.hero .overlay {
  position: absolute;
  background-color: #0b0c0c;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.hero h1 {
  margin: 50px 0 20px 0px;
  color: #fff;
  position: relative;
  font-weight: bold;

  font-weight: 700;
}

.hero p {
  color: #fff;
  position: relative;
  font-weight: 100;
  font-size: 22px;
}

.hero p strong {
  font-weight: 900;
}

.bg-write {
  background-color: #fff;
}

.bg-dark-gray {
  background-color: rgb(226, 223, 223);
}
.bg-gray {
  background-color: rgb(248, 248, 248);
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.p-50 {
  padding: 50px;
}
.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.clear {
  clear: both;
}

.categories {
  text-align: center;
  margin-left: 100px;
}

.categories div {
  float: left;
  padding: 0 0 20px 0;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  text-align: center;
}

.categories div img {
  background-size: cover;
  width: 100%;

  position: relative;
  background-size: cover;
}

.categories div .title {
  padding: 10px;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
}
.categories div .text {
  padding: 10px;
  font-weight: 100;
  color: #333;
}

.categories div a {
  margin: 0px;
}

.btn {
  padding: 4px;
  font-weight: 900;
  text-align: center;
  box-shadow: 2px 2px 0px rgba(128, 128, 128, 0.438);

  cursor: pointer;
}

.btn-submit {
  background: greenyellow;
  border: 1px rgb(118, 179, 26) solid;
}

.btn-reset {
  background: skyblue;
  border: 1px rgb(88, 155, 182) solid;
}
/* sub class rules
------------------------------- */

/* id rules
------------------------------- */

#wrapper {
  padding: 0;
  margin: auto;
}
