/* html rules
------------------------------- */
body {
  margin: 0;
  background-color: rgb(248, 248, 248);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 2.7rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

b {
  font-weight: 900;
}

nav {
  background-color: #fff;
  padding: 30px 0px;
  border-bottom: 1px solid #ddd;
}
main {
  padding: 0px 0px 0px 0px;
}

nav a img {
  width: 220px;
  float: left;
  margin-top: -20px;
  padding: 0px 75px 0px 50px;
}

nav li {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  display: inline;

  text-transform: uppercase;
  font-weight: 700;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  height: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  padding: 30px 10px;
  font-weight: bold;
}

a:link {
  color: #333;
}

a:visited {
  color: #555555;
}

nav li a:hover {
  color: #fff;
  background-color: #42817a;
}
a:hover {
  background-color: #ddd;
}

section {
  padding: 20px 0px 20px 50px;
  margin-top: 0px !important;

  /* background-color: blue; */
}

footer {
  padding: 20px 0px 20px 50px;
  min-height: 100px;
  border-top: 1px dashed #ddd;
}

footer ul {
  margin-top: 35px;
}

footer li {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  display: inline;

  text-transform: uppercase;
  font-weight: 700;
}

footer li a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  height: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  padding: 10px 10px;
  font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
  border: 1px solid grey;
  height: 21px;
}
textarea {
  border: 1px solid grey;
}

input:hover {
  border: 1px solid tomato;
}

input:focus {
  border: 1px solid tomato;
}
table {
  border: 1px solid #000066;
  /* margin: auto;
  width: 600px; */
}

td,
th {
  border: 1px solid #000066;
  padding: 0.5em;
  font-family: Arial, sans-serif;
}

caption {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

/* class rules
------------------------------- */
.copy {
  padding: 30px;
  color: #333;
}

.hero,
.hero-slider {
  height: 250px;
  font-weight: bold;
  line-height: 30px;
  padding: 20px;

  /* background: url('../images/bg.png') no-repeat center center;
  background-position: -0px -200px;
  background-repeat: no-repeat;
  background-size: cover; */

  position: relative;
  overflow: hidden;
}

.hero img {
  position: absolute;
  /* height: 100%; */
  width: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.op-0500 {
  object-position: -0px -500px;
}
.op-0200 {
  object-position: -0px -200px;
}
.op-0080 {
  object-position: -0px -80px;
}
.op-0100 {
  object-position: -0px -100px;
}

.overlay {
  position: absolute;
  background-color: rgb(18, 95, 119);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
}

.hero h1 {
  margin: 50px 0 20px 0px;

  position: relative;
  font-weight: bold;

  font-weight: 700;
  z-index: 2;
}

.hero p {
  position: relative;
  font-weight: 200;
  font-size: 22px;
  z-index: 2;
}

.hero p strong {
  font-weight: 900;
}

.bg-write {
  background-color: #fff;
}

.bg-dark-gray {
  background-color: rgb(226, 223, 223);
}
.bg-gray {
  background-color: rgb(248, 248, 248);
}
.bb {
  border-bottom: 3px solid rgb(247, 235, 65);
  width: 40%;
}

.link-h {
  padding: 0 0 30px 0;
}

.list-li ul li {
  list-style-type: square !important;
  line-height: 25px;
  font-weight: 100;
}
.link-h li {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  display: inline;
  font-weight: 700;
}

.link-h li a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  height: 16px;

  line-height: 16px;
  letter-spacing: 2px;
  padding: 10px 10px;
  font-weight: bold;
  border: 1px solid slateblue;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.text-write {
  color: #fff;
}
.text-news {
  text-justify: auto;
  line-height: 30px;
  color: #333;
  font-size: 18px;
  margin: 30px auto;
  margin-right: 30%;
  /* text-align: justify; */
  text-align: left;
  text-justify: inter-word;

  left: 0;
}

.p-50 {
  padding: 50px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}
.pull-rigth {
  float: right;
}

.pull-left {
  float: left;
}
.clear {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}
.img-feature {
  border: 1px solid rgb(234, 233, 238);
  padding: 10px;
  margin-right: 20px;
  box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.438);
}

.img-righ {
  margin-right: 200px;
}
.card,
.containerfilter {
  text-align: center;

  margin: auto;
  width: 100%;
  position: relative;
}

.containerfilter {
  width: 70%;
}

.card div {
  padding: 0 0 20px 0;
  display: inline-block;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
  margin-left: 15px;
  width: 300px;
  text-align: center;
  box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.438);
}

.containerfilter div {
  padding: 0 0 20px 0;
  float: left;
  margin: 15px auto;
  background-color: #fff;
  border-radius: 3px;
  margin-left: 15px;
  width: 300px;
  text-align: center;
  box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.438);
}

.card div img,
.containerfilter div img {
  width: 100%;
}

.card div .card-title,
.containerfilter div .card-title {
  padding: 10px;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
}

.card div .card-body,
.containerfilter div .card-body {
  padding: 10px;
  font-weight: 100;
  color: #333;
}

.card div a,
.containerfilter div a {
  text-decoration: none;
  cursor: pointer;
  line-height: 16px;
  font-weight: bold;
  border-bottom: 1px solid slateblue;
}

.btn {
  padding: 4px;
  width: 150px;
  height: 40px;

  font-weight: 900;
  text-align: center;
  box-shadow: 2px 2px 0px rgba(128, 128, 128, 0.438);

  cursor: pointer;
}

.btn-submit {
  background: greenyellow;
  border: 1px rgb(118, 179, 26) solid;
}

.btn-reset {
  background: skyblue;
  border: 1px rgb(88, 155, 182) solid;
}

.inputform {
  line-height: 48px;
}

.inputform label {
  width: 240px;
}

.inputform input {
  margin-left: 10px;
}

.sitemap {
  padding: 2px;
}

.filterDiv {
  display: none;
  margin-bottom: 50px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.btn.active {
  background-color: rgb(179, 176, 176);
  color: white;
  border: 1px solid #333;
}

/* sub class rules
------------------------------- */

/* id rules
------------------------------- */

#wrapper {
  padding: 0;
  margin: auto;
}
