/* html rules
----------------------------------------*/
body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: azure; */
  margin: 30px;
}

h1 {
}

p {
  font-size: 20px;
}

blockquote {
  font-style: italic;
  font-size: 18px;
  font-weight: 100;
}
/* subclass rules 
----------------------------------------*/

div.top {
  background-color: inherit;
  float: left;
  padding: 0px 0px 10px 0px;
  margin-right: 20px;
}

img.logo {
  height: 100px;
  padding: 5px;
  background-color: aliceblue;
}

.content h2,
h2.title {
  background-color: rgba(209, 201, 201, 0.205);
  border-top: 1px dotted #333;
  padding: 6px 0 4px 22px;
  border-bottom: 1px dotted #333;
  margin-bottom: 30px;
  background: url(../images/arrow.gif) no-repeat #ddd;
  background-position: 2px 5px;
}

.content h3 {
  background-color: rgba(209, 201, 201, 0.041);
  border-top: 1px dotted #333;
  padding: 8px;
  border-bottom: 1px dotted #333;
  margin-bottom: 20px;
}
nav a {
  padding: 10px;
}

nav a:link {
  text-decoration: none;
  padding: 10px;
}

nav b {
  color: darkorange;
  font-weight: 100;
}

a:link {
  font-weight: 100;
  color: #333;
}

a:visited {
  font-weight: bold;
  color: #555;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: darkorange;
  text-decoration: underline;
}

a:active {
  font-weight: bold;
  color: darkorange;
  text-decoration: underline;
}

.linknormal {
  text-decoration: underline;
}

dl dt {
  font-weight: bold;
}

dl dd.short {
  font-weight: 100;
  font-style: italic;
}

dl dd.long {
  padding: 0px 0px 20px 0px;
}

/* id rules
----------------------------------------*/

#top {
}

/* class rules
----------------------------------------*/
.hr {
  border-bottom: 1px solid #333;
}
.clear {
  clear: both;
}
.scrum {
  height: 400px;
  padding: 10px;
  background-color: rgba(0, 255, 34, 0.459);
}

.small {
  font-style: italic;
  font-size: 12px;
  color: #333;
}
