/* html rules
----------------------*/

body {
    color: #333;
    font-family: arial,helvetica,sans-serif;
    background-color: white;
    margin: 25px;
}

nav{
    background-color: #ccc;
    border-bottom: 1px solid #333;
    width: 100%;
    padding: 0;
    margin: 0 0 20px 0;
    float: left;


}

nav ul, nav li
{
    display: inline;
    list-style: none;
}


nav a:link, nav a:visited{
    color: #e60;
    background-color: #ccc;
    font-weight: bold;
    margin: 0;
    font-size: 1.2em;
    width: 100px;   
    padding: 5px 20px;
    text-align: center;
    border-right: 1px solid #333;
    float: left;
}



nav a:hover, nav a:active
{
    text-decoration: none;
    color: #444;
    background-color: #ddd;
}

h1 {
	font-size: 28px;
    margin-top: 0;
    color: #fff;
    background-color:  #c63;
    border: 1px solid #3d2007;
    background-position: 2px 13px;
	}

h2 {
    background-color: #444;
    color: #ddd;
    margin-top: 30px;
    background-position: 2px 10px;
}


h1, h2
{
    padding: 10px 0 3px 30px;
    background-image: url(images/wwbullet.png);
    background-repeat: no-repeat;

}

a:link {
    font-weight: bold;
    color: #c63;
    text-decoration: none;
}

a:visited {
    font-weight: bold;
    color: #555;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: #fc6;
    text-decoration: underline;
}

a:active {
    font-weight: bold;
    color: #fc6;
    text-decoration: underline;
}




/* class rules
----------------------*/

.contentimage {
    float: right;
    padding: 7px;
    border: 1px solid #eee;
    margin: 0 0 20px 20px;
}

.clearall {
    clear: both;
}


.navoff{
    color: #444;
    background-color: #ddd;
    font-weight: bold;
    margin: 0;
    font-size: 1.2em;
    width: 100px;   
    padding: 5px 20px;
    text-align: center;
    border-right: 1px solid #333;
    float: left;

}


/* id rules
----------------------*/

#top {
    background-color: #ddd;
    border-bottom: 1px solid #333;
    padding: 20px 0 0 10px;
}

